


.navbar {
  background-color: #263339;
  height: 4rem;
}


.right,
.left {
  margin: 0 20rem;
}

.logo-container {
  display: inline-block;
}

input[type="text"] {
  display: inline-block;
  margin-left: 10px;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: #a9dbdc3a;
  font-size: 16px;
  color: rgb(255, 255, 255);
  width: 200px;
}

input[type="text"]::placeholder {
  color: rgb(41, 41, 41);
}

input[type="text"]:focus {
  background-color: #c4c4c4;
}

.icon-style {
  font-size: 24px;
  color: #333;
}
