*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
  color: white;
}
li{
    list-style: none;
}
body{
    background-color: rgb(56, 45, 45);
    color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
  }

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #171A22;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #171A22;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #F1FAEE;
    border-radius: 6px;
  }
  